body{
      min-width: 400px;
}

#input-el{
      height: 30px;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid limegreen;
}

button{
      height: 36px;
      width: 150px;
      margin: 10px 0;
      background-color: limegreen;
      border: none;
      font-weight: bold;
      color: white;
}
button:hover{
      cursor: pointer;
      background-color: rgb(34, 139, 34);
}
#clear-btn{
      border: 2px solid limegreen;
      background-color: white;
      color: limegreen;
}
#clear-btn:hover{
      cursor: pointer;
      border: 2px solid rgb(155, 12, 2);
      background-color: rgb(155, 12, 2);
      color: white;
}

#ul-el{
      margin: 5px 0;
}

ul {
      margin-top: 20px;
      list-style: none;
      padding-left: 0;
  }
  
  li {
      margin-top: 5px;
      font-size: 20px;
  }
  
  a {
      color: #5f9341;
  }